html, body {
    height: 100%;
    width: 100%;
    background-color: #12151a;
    color: whitesmoke;
    text-align: center;
    overflow-x: hidden;
}
button {
    background-color: saddlebrown;
    color: white;
}